.container {
    height: 100vh;
    color: black;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.grad{
    background: #ff4b1f; 
    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
    background: linear-gradient(to right, #ff9068, #ff4b1f);
}
